* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("/workspaces/iNTUition-v9.0/frontend/src/assets/bg2.jpg");
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    padding-top: 74px;
    padding-left: 200px;
}

.App {
    background-color: white;
}

.main-wrapper {
    padding: 30px;
}

.project-desc {
    color: #555;
}

.btn-wrapper {
    display: flex;
}