* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
    padding-top: 74px;
    padding-left: 200px;
}

.main-wrapper {
    padding: 30px;
}

.project-desc {
    color: #555;
}

.btn-wrapper {
    display: flex;
}