.calendar-wrapper {
    max-width: 780px;
    margin: 0 auto;
    padding-top: 50px;
}

.calendar {
    width: 100%;
    border-collapse: collapse;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.calendar-header {
    font-size: 10px;
    padding: 10px 0;
}

.calendar-cell {
    width: 50px;
    height: 10px;
    border: 0;
    transition: .2s;
}

.calendar-cell-hover:hover {
    background-color: #09603499;
    cursor: pointer;
}

.calendar-cell-timing {
    font-size: 8px;
    vertical-align: top;
    text-align: right;
    padding-right: 10px;
}

.calendar-cell-hour {
    border-top: 1px solid #000 !important;
}

.calendar-cell-green {
    background-color: rgba(134, 205, 134, 0.43);
}

.calendar-cell-dark {
    background-color: rgba(0, 86, 34, 0.564);
}